*{
    margin:0px 0px;
    padding:0px 0px;
    box-sizing: border-box;
}
body{
    margin:0px 0px;
    padding: 0px 0px;
    box-sizing: border-box;
    width: 100%;
}
.main-container{
    width: 60%;
    margin: auto;
    background-color: aliceblue;
    padding: 20px;
    padding-left: 90px;
    border-radius:20px ;
    margin-top: 30px;
    margin-bottom: 30px;
}
.personal-details{
    width: 100%;
}
.personal-details h3{
    font-size:29px ;
    margin-bottom: 30px;
}
.row{
    display: flex;
}
.personal-details .row{
    display: flex;
}
.input-details{
    width: 50%;
    height: 90px;
}
.input-details p{
    margin-bottom: 10px;
    font-size: 18px;
    color:grey;
}
.input-details input{
    width: 70%;
    height: 40px;
    border: none;
    background-color: rgb(204, 225, 247);
    padding: 10px;
    border-radius: 5px;
}
.input-details input:focus{
    outline: none;
}
.input-photo{
    display: flex;
}
.input-photo .photo{
    width:100px;
    height: 100px;
    background-color: rgb(215, 228, 246);
    border-radius: 5px;
}
.input-photo .photo i{
    font-size: 70px;
    margin-left: 20px;
    margin-top:17px;
}
.input-photo p{
    margin-top: 42px;
    margin-left: 40px;
    font-size: 18px;
    color: blue;
}
.professional{
    width: 100%;
}
.professional h3{
    font-size:29px ;
    margin-bottom: 30px;
}
.professional p{
    color: grey;
    font-size:17px ;
    width: 85%;
}
.professional  textarea{
    max-width: 85%;
    min-width: 85%;
    min-height: 150px;
    max-height: 150px;
    margin-top: 30px;
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: rgb(204, 225, 247);
}
.professional  textarea::placeholder{
    font-size: 18px;
}
.professional  textarea:focus{
    outline: none;
}